<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About.hbs</title>
</head>
<body>
  {{> header }}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus explicabo pariatur, reiciendis quos vero maxime eveniet ab ratione necessitatibus ipsa libero velit corrupti! Labore id vitae ad soluta eos suscipit praesentium esse iste, similique reprehenderit voluptatibus, perspiciatis accusamus sed cupiditate.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur earum quidem qui accusamus distinctio, autem soluta excepturi reprehenderit! Dignissimos qui impedit veniam reprehenderit voluptatem? Ratione inventore earum ad, quisquam molestias dolores ipsa omnis, blanditiis nostrum minima dicta delectus repellendus quo vel doloribus exercitationem nihil assumenda molestiae ut cum, tempora qui?</p>

  {{> footer }}
</body>
</html>